<h1>All Cocktails</h1>
<p><%= cl_image_tag("mojito.jpg",
      width: 400, height: 300, crop: :fill) %></p>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></li>
  <% end %>
</ul>



